/*
Question& Answer  Section
 */

.question-badge{
    background-color: #e07b2f;
    color: white;
    padding: 1px;
    border-radius: 10px;
}
.question{
    font-weight: bold;
}

/*------------answers status------------------*/
.answer-given{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:10px;
    background-color: #51ff3c;
    width:12px;
    height:12px;
}
.answer-pending{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:10px;
    background-color: #ffcc33;
    width:12px;
    height:12px;
}






